.home {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  margin: 0;
}

.home {
  background-color: white;
  transition: background-color 0.2s ease;
}

.home-dark {
  background-color: #0a192f;
  transition: background-color 0.2s ease;
}

.toggle-container {
  background-color: #0a192f;
  border: 1px solid #ccc;
  width: 10rem;
  height: 4rem;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  position: relative;
  cursor: pointer;
  /* box-shadow: 5px 5px 6px #ccc inset; */
}

.toggle-container-dark {
  background-color: white !important;
  transition: background-color 0.2s;
}

.toggle-button {
  background-color: white;

  transition: background-color 0.2s ease, transform 0.2s;
  position: absolute;

  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}

.toggle-button-dark {
  background-color: #0a192f !important;
  position: absolute;
  transform: translateX(7.5rem);
  transition: background-color 0.2s, transform 0.2s;
}

.sun-icon-hidden {
  color: #0a192f;
  font-size: 1.5rem;
  transform: translateX(10px) rotate(15deg);
  transform-origin: 50% 50%;
  transition: all 0.2s;
}

.sun-icon-visible {
  transform: translateX(0px) rotate(0deg) !important;
  transform-origin: 50% 50%;
  transition: all 0.2s;
  color: #0a192f;
}

.moon-icon {
  position: absolute;
  transform: translateX(8.5rem);
  /* right: 0; */
  font-size: 1.5rem;
  color: #fff;
  transition: background-color 0.2s, transform 0.2s;
}

.moon-icon-hidden {
  transform: translateX(120px) rotate(-15deg) !important;
  transform-origin: 50% 50%;
  transition: all 0.2s;
}
